<div class=" rounded-xl border border-orange-200 bg-gradient-to-br from-orange-100 to-white p-6 shadow-md">
    <div class="mb-4 flex items-center justify-between">
        <div>
            <h2 class="text-xl font-bold text-orange-700">Naivedya Details</h2>
            <p class="text-sm text-gray-500">scheduled offering info</p>
        </div>
        <button
            class="rounded-md bg-orange-500 cursor-pointer px-3 py-1 text-sm font-medium text-white shadow-sm hover:bg-orange-600 transition ease-linear">✏️
            Edit</button>
    </div>

    <div class="grid grid-cols-2 gap-4 text-sm text-gray-700">
        <div>
            <p class="text-gray-500">Name</p>
            <p class="text-base font-semibold text-gray-900">Vedant kale</p>
        </div>
        <div>
            <p class="text-gray-500">Date</p>
            <p class="text-base font-semibold text-gray-900">01/01/2025</p>
        </div>
        <div>
            <p class="text-gray-500">Mobile No.</p>
            <p class="text-base font-semibold text-gray-900">1234567890</p>
        </div>
        <div>
            <p class="text-gray-500">Time</p>
            <p class="text-base font-semibold text-gray-900">10:40 AM</p>
        </div>
    </div>
    <p class="text-right text-sm italic text-gray-400 mt-3">last edited by vedant at 06:00 AM</p>
</div>