<aside class="w-80 bg-stone-200 p-4 flex flex-col justify-between">

            <div class="sidebar-top-container">


                <div class="profile-card px-3 py-2 flex bg-stone-100 rounded-full items-center justify-between">
                    <div class="profile-card-left flex">


                        <img src="/image/swami.png" alt="profile-picture" class="w-13 h-13 rounded-full border-2 border-orange-400">
                        <div class="mx-2 my-auto text-stone-800">
                            <h4 class="text-lg leading-snug font-semibold">{{account_name}}</h4>
                            <h5 class="text-xs leading-tight bg-orange-500 text-white w-fit py-0.5 px-2 rounded-full">
                                {{previlage}}</h5>
                        </div>

                    </div>
                    <button
                        class="profile-card-right p-2 fill-neutral-600 cursor-pointer hover:bg-stone-300 rounded-full transition-all ease-linear relative">
                        {{!-- <div class="w-2 h-2 bg-red-500 absolute rounded-full top-1 right-2"></div> --}}
                        <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px">
                            <path
                                d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z" />
                        </svg>
                    </button>
                </div>

                <ul class="flex flex-col my-4  text-neutral-600 fill-neutral-600 font-bold tracking-wide gap-3">
                    <li>
                        <button data-section="home"
                        "border-orange-200 bg-gradient-to-br from-orange-100 to-white p-6 shadow-md"
                            class="sidebar-btn w-full  hover:bg-stone-100 p-3  flex uppercase items-center transition-all ease-linear cursor-pointer border-l-5 border-transparent focus:border-l-5 focus:border-orange-400 focus:text-orange-500 focus:fill-orange-500 rounded-xl focus:bg-stone-100 ">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px">
                                <path
                                    d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                            </svg>
                            <span class="mx-2">Home</span>
                        </button>
                    </li>
                    <li>
                        <button data-section="naivedya"
                            class="sidebar-btn w-full  hover:bg-stone-100 p-3  flex uppercase items-center transition-all ease-linear cursor-pointer border-l-5 border-transparent focus:border-l-5 focus:border-orange-400 focus:text-orange-500 focus:fill-orange-500 rounded-xl focus:bg-stone-100">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px"><path d="M360-600v-80h360v80H360Zm0 120v-80h360v80H360Zm120 320H200h280Zm0 80H240q-50 0-85-35t-35-85v-120h120v-560h600v361q-20-2-40.5 1.5T760-505v-295H320v480h240l-80 80H200v40q0 17 11.5 28.5T240-160h240v80Zm80 0v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
                            <span class="mx-2">naivedya nondani</span>
                        </button>
                    </li>
                    <li>
                        <button data-section="aarti"
                            class="sidebar-btn w-full  hover:bg-stone-100 p-3  flex uppercase items-center transition-all ease-linear cursor-pointer border-l-5 border-transparent focus:border-l-5 focus:border-orange-400 focus:text-orange-500 focus:fill-orange-500 rounded-xl focus:bg-stone-100">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v200h-80v-40H200v400h280v80H200Zm0-560h560v-80H200v80Zm0 0v-80 80ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
                            <span class="mx-2">aarti nondani</span>
                        </button>
                    </li>
                    <li>
                        <button data-section="sevekari"
                            class="sidebar-btn w-full  hover:bg-stone-100 p-3  flex uppercase items-center transition-all ease-linear cursor-pointer border-l-5 border-transparent focus:border-l-5 focus:border-orange-400 focus:text-orange-500 focus:fill-orange-500 rounded-xl focus:bg-stone-100">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px">
                                <path
                                    d="M360-390q-21 0-35.5-14.5T310-440q0-21 14.5-35.5T360-490q21 0 35.5 14.5T410-440q0 21-14.5 35.5T360-390Zm240 0q-21 0-35.5-14.5T550-440q0-21 14.5-35.5T600-490q21 0 35.5 14.5T650-440q0 21-14.5 35.5T600-390ZM480-160q134 0 227-93t93-227q0-24-3-46.5T786-570q-21 5-42 7.5t-44 2.5q-91 0-172-39T390-708q-32 78-91.5 135.5T160-486v6q0 134 93 227t227 93Zm0 80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-54-715q42 70 114 112.5T700-640q14 0 27-1.5t27-3.5q-42-70-114-112.5T480-800q-14 0-27 1.5t-27 3.5ZM177-581q51-29 89-75t57-103q-51 29-89 75t-57 103Zm249-214Zm-103 36Z" />
                            </svg>
                            <span class="mx-2">Sevekari Nondani</span>
                        </button>
                    </li>
                    <li>
                        <button data-section="saptah"
                            class="sidebar-btn w-full  hover:bg-stone-100 p-3  flex uppercase items-center transition-all ease-linear cursor-pointer border-l-5 border-transparent focus:border-l-5 focus:border-orange-400 focus:text-orange-500 focus:fill-orange-500 rounded-xl focus:bg-stone-100">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px">
                                <path
                                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
                            </svg>
                            <span class="mx-2">Saptah Manager</span>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="sidebar-bottom-container fill-stone-600 flex justify-center">
                <ul class="">
                    <li>
                        <button
                            class="p-2 hover:bg-stone-100 rounded-full transition-all ease-linear cursor-pointer focus:bg-stone-100">
                            <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px">
                                <path
                                    d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </aside>