<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./js/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/notyf.min.css">
    <link rel="stylesheet" href="/css/output.css" />
    <img src="">
    <title>{{title}}</title>
</head>

<body class="h-dvh overflow-hidden">
    <div class="flex h-full">

        <aside class="w-64 shrink-0 h-full">
            {{> sidebar}}
        </aside>

        <main class="flex-1 overflow-y-auto bg-slate-200">
            <div id="main-content" class="container w-4/5 mx-auto min-h-full">
                {{{body}}}
            </div>
        </main>

    </div>
</body>

</html>